/**
 * @name Mobile Messages
 * @author Doggybootsy#1333
 * @version 1
 * @description Changes discord's chat to look like a mobile chat. Credt to _david_#1312 for most of the code. You have to change my User id to yours.(More info in the file)
 * @website https://sites.google.com/view/doggybootsybd/themes/mobile-messages
 *//* Help
You need to have bdfdb by devilbro enabled as a plugin.

You need to change each and every text that looks like this [user_by_bdfdb="515780151791976453"] to [user_by_bdfdb="your User id"](Numbers not that text)


Support Website https://sites.google.com/view/doggybootsybd/support
Support Discord Guild/Server https://discord.gg/wUT3wjBmeR

/* Original https://discord.com/channels/86004744966914048/123136820409139200/802856405693759498 */:root
{
    --border-width: 2px;
    /* Hides (Edited) after editing text */
    --show-edited: inline; /* Yes='block,inline' | No='none' */
    /* Timestamp of when the message was sent */
    --show-timestamp: inline; /* Yes='inline' | No='none' */
    /* Hides (translate) after translating text */
    --show-translated: inline; /* Yes='block,inline' | No='none' */
    /* Gives Color to emojis even if you cant use them */
    --disabled-emoji-color: 1%; /* Yes='1%'     | No='0%'   */
    /* Windows Discord Watermark */
    --show-Discord-watermark: block; /* Yes='block' | No='none'  */
    /* If the Tooltips top is marked 'none' it hides bottom tool tips to*/
    --show-tootips: block; /* Yes='block' | No='none' */
    --show-bottom-tootips: block; /* Yes='block' | No='none' */
    /* Hover over a spoiler and it reveals it */
    --spoiler-hover: 1; /* Yes='1'     | No='0'    */
    /*Emoji descriptions*/
    --show-emoji-description: flex; /* Yes='flex' | No='none' */
    /*system messages*/
    --show-system-messages: flex; /* Yes='flex' | No='none' */
}


.theme-dark,
html.theme-dark #app-mount .theme-light .root-1gCeng,
html.theme-dark .force-theme.theme-light {
    --background: rgb(9, 10, 37) !important;

    --chat-background: #333333;
    --chat-border: #333333;

    --text-link: #fff;
    --chat-color: #fff;
    --personal-chat-color: #fff;
    --mentioned-color: #faa61a;

    --Personal-chat-background: #007aff;
    --personal-chat-border: #007aff;

    --scrollbar-auto-track: transparent;
}

:root {
    --emoji-color: calc(var(--disabled-emoji-color) * 100%);
}
.scrollerInner-2YIMLh,
.scrollerContent-WzeG7R,
.chatContent-a9vAAp,
.theme-dark .form-2fGMdU:before {
    background: var(--background);
}
/*variables*/
.emojiItemDisabled-1FvFuF {
    -webkit-filter: grayscale(var(--emoji-color));
    filter: grayscale(var(--emoji-color));
}
.edited-3sfAzf {
    display: var(--show-edited);
    text-align: center;
    color: var(--chat-color);
}
.timestamp-3ZCmNB {
    display: var(--show-timestamp);
}
.translated-5YO8i3.edited-3sfAzf {
    display: var(--show-translated);
}
.wordmarkWindows-1v0lYD {
    display: var(--show-Discord-watermark);
}
.tooltip-2QfLtc {
    display: var(--show-tootips);
}
.spoilerText-3p6IlD.hidden-HHr2R9:hover .inlineContent-3ZjPuv {
    opacity: var(--spoiler-hover);
    border-radius: 3px;
    background-color: #4a4d53;
}
.flex-1xMQg5 > .flex-1xMQg5 {
    display: var(--show-emoji-description);
}
.popoutContainer-1MXdqN {
    width: fit-content;
}
.disabledPointerEvents-1ptgTB[style*="bottom"] {
    display: var(--show-bottom-tootips);
}
.message-2qnXI6.systemMessage-1I9LCe {
    display: var(--show-system-messages);
}
/**/
.markup-2BOw-j {
    color: var(--chat-color);
}


/*color*/
.mentioned-xhSam7,
.message-2qnXI6.mentioned-xhSam7.selected-2P5D_Z,
.mouse-mode.full-motion .mentioned-xhSam7:hover {
    background-color: transparent;
}
.mentioned-xhSam7:hover {
    position: relative;
    background-color: transparent;
}
.channelHeader-3Gd2xq {
    border-radius: 8px;
}

.mentioned-xhSam7:before {
    background-color: transparent;
}


.search-36MZv- {
    order: -1;
}
.searchBar-3dMhjb {
    width: 28px;
    transition: width 0.6s ease-in-out;
    color: #fff;
    background: none;
}
.focused-31_ccS .searchBar-3dMhjb,
.open-6_Y_aH .searchBar-3dMhjb,
.searchBar-3dMhjb:hover {
    width: 240px;
    background: var(--background-tertiary);
}
.icon-3cZ1F_ {
    height: 24px;
    width: 24px;
    color: var(--interactive-normal);
}
.iconContainer-O4O2CN {
    bottom: 3px;
}
.search-36MZv- {
    margin-left: 0;
}

[href="https://support.discord.com"] {
    display: none;
}


.message-2qnXI6[user_by_bdfdb="515780151791976453"] > .container-1ov-mD > .embedWrapper-lXpS3L {
    border: solid var(--border-width) var(--personal-chat-border) !important;
    border-radius: 8px 8px 0 8px;
    padding: 2px 4px 2px 4px !important;
    margin-left: 0;
    background: var(--chat-background);
    width: fit-content;
    margin-left: auto;
    box-sizing: border-box;
    border-radius: 8px;
}
/*david chat*/
.message-2qnXI6.mentioned-xhSam7>.contents-2mQqc9 >.markup-2BOw-j:not(.slateTextArea-1Mkdgw):not(.repliedTextContent-1R3vnK):not([user_by_bdfdb="515780151791976453"]) {
    border: solid var(--border-width) var(--mentioned-color) !important;
    border-radius: 8px 8px 8px 0;
    padding: 2px 4px 2px 4px !important;
    margin-left: 0;
    background: var(--chat-background);
    width: fit-content;
    box-sizing: border-box;
}
.markup-2BOw-j:not(.slateTextArea-1Mkdgw):not(.repliedTextContent-1R3vnK) {
    border: solid var(--border-width) var(--chat-border) !important;
    border-radius: 8px 8px 8px 0;
    padding: 2px 4px 2px 4px !important;
    margin-left: 0;
    background: var(--chat-background);
    width: fit-content;
    box-sizing: border-box;
}
.repliedTextPreview-2NBljf {
    border: solid var(--border-width) var(--chat-border) !important;
    border-radius: 8px 8px 8px 8px;
    padding: 2px 4px 2px 4px !important;
    margin-left: 0;
    background: var(--chat-background);
    width: fit-content;
    box-sizing: border-box;
}
[user_by_bdfdb="515780151791976453"] > .contents-2mQqc9 > .markup-2BOw-j {
    border: solid var(--border-width) var(--personal-chat-border) !important;
    border-radius: 8px 8px 0 8px;
    padding: 2px 4px 2px 4px !important;
    margin-left: 0;
    background: var(--Personal-chat-background);
    width: fit-content;
    margin-left: auto;
    box-sizing: border-box;
}


.markup-2BOw-j blockquote,
.markup-2BOw-j pre {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
}
.cozy-3raOZG.wrapper-2a6GCs {
    padding-left: 72px;
}
.message-2qnXI6:not([user_by_bdfdb="515780151791976453"]) {
    padding-right: 68px !important;
}

.cozy-3raOZG[user_by_bdfdb="515780151791976453"] .contents-2mQqc9 {
    text-align: right;
    margin-right: 20px;
}
.cozy-3raOZG[user_by_bdfdb="515780151791976453"] .contents-2mQqc9 img {
    right: 16px;
}
.cozy-3raOZG[user_by_bdfdb="515780151791976453"] .container-1ov-mD {
    justify-content: flex-end;
    margin-right: 20px;
}
.cozy-3raOZG[user_by_bdfdb="515780151791976453"] .markup-2BOw-j.messageContent-2qWWxC {
    text-align: right;
}
.cozy-3raOZG[user_by_bdfdb="515780151791976453"] .headerText-3Uvj1Y {
    float: right;
}
.cozy-3raOZG[user_by_bdfdb="515780151791976453"] .username-1A8OIy {
    float: right;
    margin-left: 5px;
}
.cozy-3raOZG[user_by_bdfdb="515780151791976453"] .avatar-1BDn8e {
    left: unset;
}
.cozy-3raOZG[user_by_bdfdb="515780151791976453"] .botTag-1un5a6 {
    float: right;
}
/* Repies */
.cozy-3raOZG[user_by_bdfdb="515780151791976453"] > .repliedMessage-VokQwo:before {
    transform: rotateY(180deg);
    right: -46px;
    left: unset;
    width: 40px;
}
.cozy-3raOZG[user_by_bdfdb="515780151791976453"] .repliedMessage-VokQwo {
    margin-right: 30px;
    justify-content: flex-end;
}
.cozy-3raOZG[user_by_bdfdb="515780151791976453"] .compact-T3H92H .username-1A8OIy ~ .badges-XRnWAp,
.cozy-3raOZG[user_by_bdfdb="515780151791976453"] .repliedMessage-VokQwo .username-1A8OIy ~ .badges-XRnWAp {
    margin-left: 0.25rem;
    margin-right: 0;
}
.cozy-3raOZG[user_by_bdfdb="515780151791976453"] .repliedMessage-VokQwo .repliedTextContentIcon-1ivTae {
    order: 0;
}
.cozy-3raOZG[user_by_bdfdb="515780151791976453"] .repliedMessage-VokQwo .repliedTextPreview-2NBljf {
    order: 1;
}
.cozy-3raOZG[user_by_bdfdb="515780151791976453"] .repliedMessage-VokQwo .badges-XRnWAp {
    order: 2;
}
.cozy-3raOZG[user_by_bdfdb="515780151791976453"] .repliedMessage-VokQwo .botTag-1un5a6 {
    order: 3;
}
.cozy-3raOZG[user_by_bdfdb="515780151791976453"] .repliedMessage-VokQwo .username-1A8OIy {
    order: 4;
}
.cozy-3raOZG[user_by_bdfdb="515780151791976453"] .repliedMessage-VokQwo img {
    order: 5;
}
/* Codeblocks */
.cozy-3raOZG[user_by_bdfdb="515780151791976453"] .markup-2BOw-j blockquote,
.cozy-3raOZG[user_by_bdfdb="515780151791976453"] .markup-2BOw-j pre {
    text-align: left;
    max-width: unset;
}
/* Small margin in name */
.cozy-3raOZG[user_by_bdfdb="515780151791976453"] .headerText-3Uvj1Y {
    margin-left: 0.25rem;
    margin-right: 0;
}
.chat-3bRxxu {
    border-radius: 0 0 0 0;
}

/* End */

.sprite-2iCowe {
    filter: var(--colored-emoji) !important;
}
.emojiItemSelected-1aLkfV {
    background: var(--background-tertiary) !important;
}

