@use "./src/import.css";


:root
{
    --border-width: 2px;
    /* Hides (Edited) after editing text */
    --show-edited: inline; /* Yes='block,inline' | No='none' */
    /* Timestamp of when the message was sent */
    --show-timestamp: inline; /* Yes='inline' | No='none' */
    /* Hides (translate) after translating text */
    --show-translated: inline; /* Yes='block,inline' | No='none' */
    /* Gives Color to emojis even if you cant use them */
    --disabled-emoji-color: 1%; /* Yes='1%'     | No='0%'   */
    /* Windows Discord Watermark */
    --show-Discord-watermark: block; /* Yes='block' | No='none'  */
    /* If the Tooltips top is marked 'none' it hides bottom tool tips to*/
    --show-tootips: block; /* Yes='block' | No='none' */
    --show-bottom-tootips: block; /* Yes='block' | No='none' */
    /* Hover over a spoiler and it reveals it */
    --spoiler-hover: 1; /* Yes='1'     | No='0'    */
    /*Emoji descriptions*/
    --show-emoji-description: flex; /* Yes='flex' | No='none' */
    /*system messages*/
    --show-system-messages: flex; /* Yes='flex' | No='none' */
    /*personal text direction*/
    --Text-align:right;           /* 'Right'  |  'left' */
}


.theme-dark,
html.theme-dark #app-mount .theme-light .root-1gCeng,
html.theme-dark .force-theme.theme-light {
    --background: rgb(9, 10, 37) !important;

    --chat-background: #333333;
    --chat-border: #333333;

    --text-link: #fff;
    --chat-color: #fff;
    --personal-chat-color: #fff;
    --mentioned-color: #faa61a;

    --Personal-chat-background: #007aff;
    --personal-chat-border: #007aff;

    --scrollbar-auto-track: transparent;
}
